---
layout: base.njk
---

<div class="about">
  <h1>About {{ name }}</h1>
  <img src="{{ image | url }}" 
       srcset="{{ image | url }} 400w, 
               {{ image | replace('.jpg', '@2x.jpg') | url }} 800w,
               {{ image | replace('.jpg', '@3x.jpg') | url }} 1200w"
       sizes="(min-width: 35.9375em) 400px, 100vw"
       alt="{{ name }}" 
       class="about__image"
       width="400"
       height="320">
  {{ content | safe }}
</div>