name: Eleventy Build

on:
  push:
    branches: [master]

permissions:
  contents: write

jobs:
  build_deploy:
    runs-on: ubuntu-latest

    steps:
      # 1. Checkout the repo
      - uses: actions/checkout@v4

      # 2. Setup Node 18
      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 18
          cache: 'yarn'

      # 3. Install dependencies using Yarn
      - name: Install dependencies
        run: yarn install

      # 4. Build the Eleventy site
      - name: Build site
        run: yarn build

      # 5. Deploy to GitHub Pages
      - name: Deploy to gh-pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          publish_dir: public
          publish_branch: gh-pages
          github_token: ${{ secrets.GITHUB_TOKEN }}